* {
  font-family: "Cantarell", "JetBrainsMono Nerd Font";
  font-size: 13px;
}

.control-center {
  background: rgba(32, 32, 32, 0.96);
  border-radius: 18px;
  padding: 12px;
}

.widget {
  margin-bottom: 10px;
  border-radius: 14px;
  background: rgba(255,255,255,0.06);
  padding: 10px;
}

.widget:hover {
  background: rgba(255,255,255,0.1);
}
